<div class="possible-mentions"
  {{did-insert this.setMentionsDropdownTopPosition @currentMention}}
  {{did-update this.setMentionsDropdownTopPosition @currentMention}} data-test-mention-options-list-wrap>
  <div class="help-bar" data-test-help-bar>
    <span class="matching-text mr-auto" data-test-help-bar-text>
      Results matching <strong>"{{@currentMention}}"</strong>
    </span>
    <span class="mi-close-action" data-test-help-bar-close>
      {{#if (or (media "isDesktop") (media "isJumbo"))}}
        <strong>esc</strong> to dismiss
      {{else}}
        <span class="mi-close" role="button" {{on 'click' @closeDropdown}} data-test-close-x>
          <PaperIcon @icon={{'close'}} @size={{20}} data-test-close-icon />
        </span>
      {{/if}}
    </span>
  </div>
  <ul class="mention-options">
    {{#each @options as |option index|}}
      {{yield (component 'mention-option'
        option=option
        doMention=@doMention
        onMention=@onMention
        index=index
        focusedIndex=@focusedIndex
      )}}
    {{else}}
      <MentionOption @doMention={{noop}} @index={{null}}>
        <span data-test-no-mention-options-text>
          No results found matching <span class="ml-1 font-weight-600">{{@currentMention}}</span>
        </span>
      </MentionOption>
    {{/each}}
  </ul>
</div>