<div class="mentionable-input" data-test-mentionable-input>
  <PaperInput
    data-test-mention-input
    @textarea={{true}}
    @block={{true}}
    @label={{this.label}}
    @placeholder={{@placeholder}}
    @passThru={{hash maxRows=4}}
    @required={{@required}}
    @value={{@value}}
    @onChange={{fn this.onInputChange}}
    @spellcheck={{false}}
    @onKeyDown={{fn this.keyDown}}
    {{did-insert this.setTextAreaWrapperElement}}>
    {{#if this.showHint}}
      <div class="hint" data-test-mention-hint>
        Type "{{this.specialCharacter}}" to mention
      </div>
    {{/if}}

    <StyledInputText
      @rawValue={{@value}}
      @existingMentions={{this.alreadyMentioned}}
      @mentionPattern={{this.mentionPattern}}
      @textAreaElement={{this.textAreaElement}}>
    </StyledInputText>

    {{#if (and this.isMentioning this.enableMentions)}}
      <MentionOptions
        @options={{this.options}}
        @doMention={{fn this.doMention}}
        @extractMention={{@extractMention}}
        @currentMention={{this.currentMention}}
        @closeDropdown={{fn this.closeOptionsDropdown}}
        @focusedIndex={{this.focusedOptionIndex}}
        @textAreaElement={{this.textAreaElement}} as |OptionComponent|>
        {{yield OptionComponent}}
      </MentionOptions>
    {{/if}}
  </PaperInput>
</div>

