<PaperList @class="comment-list">
  {{#each this.comments as |comment|}}
    <PaperItem class="w-100">
      <div class="d-flex w-100">
        <div class="avatar-wrap">
          <div class="avatar {{comment.user.cssClass}}">
            {{comment.user.firstInitial}}
          </div>
        </div>
        <div class="md-list-item-text comment-bubble">
          <div class="comment-text">
            <span class="username">
              {{comment.user.username}}
            </span>
            <StyledInputText
              @rawValue={{comment.text}}
              @mentionPattern={{this.mentionPattern}}
              @isStatic={{true}} />
          </div>
          <div class="time-since-posted">
            {{comment.timeSincePosted}}
          </div>
        </div>
      </div>
    </PaperItem>
  {{/each}}
</PaperList>

<div class="docs-mt-12 add-comment-wrap">
  <div class="avatar-wrap">
    <div class="avatar mi-blue mint-border">
      Me
    </div>
  </div>
  <MentionablePaperInput
    @value={{this.textareaVal}}
    @options={{this.userMentions}}
    @extractMention={{fn this.extractUsername}}
    @onInputChange={{fn this.valueChanged}}
    @onMentionStarted={{perform this.searchUsersToMention}}
    @placeholder={{this.placeholderText}} as |OptionResult|>
    <OptionResult as |user|>
      <span class="mi-anonymous-user {{user.cssClass}}">{{user.firstInitial}}</span>
      <span class="mi-name">{{user.name}}</span>
      <span class="mi-username">{{user.username}}</span>
    </OptionResult>
  </MentionablePaperInput>

  <PaperButton
    @iconButton={{true}}
    @primary={{false}}
    @raised={{true}}
    @onClick={{fn this.addComment this.textareaVal}}>
    <PaperIcon @icon={{"send"}} />
  </PaperButton>
</div>

<div class="pro-tip">
  <strong>Pro Tip</strong>
  <p class="docs-md docs-mb-4">
    You can also use the <code class="inline-snippet">&lt;StyledInputText&gt;</code> component
    to render mentions in readonly mode
  </p>

<!--  <DocsSnippet @language={{"htmlbars"}} @name=<styled-input-text-usage-template.hbs /> />-->
</div>