<PaperList @class="comment-list">
  {{#each this.comments as |comment|}}
    <PaperItem class="w-100">
      <div class="d-flex w-100">
        <div class="avatar-wrap">
          <div class="avatar {{comment.user.cssClass}}">
            {{comment.user.firstInitial}}
          </div>
        </div>
        <div class="md-list-item-text comment-bubble">
          <div class="comment-text">
            <span class="username">
              {{comment.user.username}}
            </span>
            <!-- BEGIN-SNIPPET mentionable-input-readonly.hbs -->
            <StyledMentionText
              @value={{comment.text}}
              @mentionPattern={{this.mentionPattern}}
              @hrefOverride="/click/me"
              @readonly={{true}} />
            <!-- END-SNIPPET -->
          </div>
          <div class="time-since-posted">
            {{comment.timeSincePosted}}
          </div>
        </div>
      </div>
    </PaperItem>
  {{/each}}
</PaperList>

<div class="docs-mt-12 add-comment-wrap">
  <div class="avatar-wrap">
    <div class="avatar mi-blue mint-border">
      Me
    </div>
  </div>
  <MentionablePaperInput
    @value={{"sdadfs @will dfsfdsa @andrew"}}
    @onChange={{fn (mut this.value)}}
    @options={{this.userMentionOptions}}
    @onMention={{this.extractUsername}}
    @getMentionOptions={{this.searchUsersToMention}}
    @placeholder={{"Type @ to start mentioning"}} as |OptionResult|>
    <OptionResult as |user|>
      <span class="mi-anonymous-user {{user.cssClass}}">{{user.firstInitial}}</span>
      <span class="mi-name">{{user.name}}</span>
      <span class="mi-username">{{user.username}}</span>
    </OptionResult>
  </MentionablePaperInput>

  <PaperButton
    @iconButton={{true}}
    @primary={{false}}
    @raised={{true}}
    @onClick={{fn this.addComment this.value}}>
    <PaperIcon @icon={{"send"}} />
  </PaperButton>
</div>

<div class="pro-tip">
  <strong>Pro Tip</strong>
  <p class="docs-md docs-mb-4">
    You can also use the <code class="inline-snippet">&lt;StyledMentionText&gt;</code> component
    to render mentions in readonly mode
  </p>

  <DocsSnippet @language={{"htmlbars"}} @name="mentionable-input-readonly.hbs" />

  <p class="docs-md docs-mt-4">
    For now, the "on mention click" behavior is limited to overriding the href via <code class="inline-snippet">@hrefOverride</code>.
    In future versions this API will be more flexible.
  </p>
</div>