{{#if true}}
  <PaperTabs
    @selected={{this.selectedTab}}
    @onChange={{fn (mut this.selectedTab)}}
    @center={{false}}
    @stretch={{false}}
    @borderBottom={{false}}
    @shouldPaginate={{false}} as |tabs|>
    <tabs.tab>
      Template
    </tabs.tab>
    <tabs.tab>
      JS
    </tabs.tab>
    <tabs.tab>
      Result
    </tabs.tab>
  </PaperTabs>

  <div class="md-padding">
    {{#with (hash tab=this.selectedTab) as |current|}}
      {{#if (eq current.tab 0)}}
        <nav
          class="docs-demo__snippets-nav docs-py-2 docs-px-4 docs-font-medium docs-bg-black docs-tracking-tight docs-border-b docs-border-grey-darkest">
          <button
            {{on "click" (fn this.setTemplateType "angle")}}
            type="button"
            class="docs-mr-4 docs-text-xs docs-no-underline outline-none hover:docs-text-grey-lighter {{if
              (eq this.templateType "angle") 'docs-text-grey-lighter' 'docs-text-grey-dark'}}">
            Angle Brackets
          </button>
          <button
            {{on "click" (fn this.setTemplateType "hbs")}}
            type="button"
            class="docs-mr-4 docs-text-xs docs-no-underline outline-none hover:docs-text-grey-lighter {{if
              (eq this.templateType "hbs") 'docs-text-grey-lighter' 'docs-text-grey-dark'}}">
            Handlebars
          </button>
        </nav>
        <div class="angle-bracket-snippet">
          {{#if (eq this.templateType "angle")}}
            <DocsSnippet
              @language={{"htmlbars"}}
              @name="mentionable-input-angle-usage-template.hbs"/>
          {{else if (eq this.templateType "hbs")}}
            <DocsSnippet
              @language={{"htmlbars"}}
              @name="mentionable-input-hbs-usage-template.hbs"/>
          {{/if}}
        </div>
      {{else if (eq current.tab 1)}}
        <DocsSnippet
          @title="my-controller.js"
          @language="ts"
          @name="mentionable-input-usage-controller.js"/>
      {{else if (eq current.tab 2)}}
        <!-- BEGIN-SNIPPET mentionable-input-angle-usage-template.hbs -->
        <MentionablePaperInput
          @value={{this.textareaVal}}
          @options={{this.userMentions}}
          @onMention={{this.extractUsername}}
          @onChange={{this.valueChanged}}
          @onMentionStarted={{perform this.searchUsersToMention}}
          @placeholder={{this.placeholderText}}
          as |OptionResult|
        >
          <OptionResult as |user|>
            <span class="mi-name">{{user.name}}</span>
            <span class="mi-username">{{user.username}}</span>
          </OptionResult>
        </MentionablePaperInput>
        <!-- END-SNIPPET -->
      {{/if}}
    {{/with}}
  </div>
{{/if}}

{{#if false}}
  <!-- BEGIN-SNIPPET mentionable-input-hbs-usage-template.hbs -->
  <MentionablePaperInput
    @value={{this.textareaVal}}
    @options={{this.userMentions}}
    @onMention={{this.extractUsername}}
    @onChange={{this.valueChanged}}
    @onMentionStarted={{perform this.searchUsersToMention}}
    @placeholder={{this.placeholderText}}
    as |OptionResult|
  >
    <OptionResult as |user|>
      <span class="mi-name">{{user.name}}</span>
      <span class="mi-username">{{user.username}}</span>
    </OptionResult>
  </MentionablePaperInput>
  <!-- END-SNIPPET -->
{{/if}}